<%= form_for(@magical_power) do |f| %>
  <% if @magical_power.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@magical_power.errors.count, "error") %> prohibited this magical_power from being saved:</h2>

      <ul>
      <% @magical_power.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br>
    <%= f.number_field :intensity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
